@import "tailwindcss";
html, body {
  width: 100%;
  overflow-x: hidden;
}

:root {
  color-scheme: dark;
}

html, body {
  height: 100%;
}

body {
  margin: 0;
}
@keyframes logoLoop {
  from { transform: translate3d(0,0,0); }
  to { transform: translate3d(-50%,0,0); }
}

.animate-logoLoop {
  animation: logoLoop var(--speed) linear infinite;
}

